<head>
  <title>pecord</title>
</head>

<template name="layout">
  <div class="header">
    <div class="container">
      {{ > header }}
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      {{ > yield }}
    </div>
  </div>
  <div class="footer">
    <div class="container">
      {{ > footer }}
    </div>
  </div>
</template>

<template name="header">
  <div class="left">
    <a href="{{ pathFor route='Index' }}" class="logo">pecord</a>
  </div>
  <div class="right">
    {{# if isAuthenticated }}
      authed
    {{ else }}
      <div class="tip">{{ _ 'header-tip-text' }}</div>
      <a href="{{ pathFor route='atSignIn' }}" class="login-button">{{ _ 'login-button-text' }}</a>
    {{/if}}
  </div>
</template>

<template name="footer"></template>

<template name="index">
  <div class="slogan">
    <div class="text">{{ _ 'slogan-text' }}</div>
    <a href="{{ pathFor route='atSignUp' }}" class="signup-button">{{ _ 'slogan-button-text' }}</a>
  </div>
</template>
