<head>
  <title>pecord</title>
</head>

<template name="layout">
  <div class="header">
    <div class="container">
      {{ > header }}
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      {{ > yield }}
    </div>
  </div>
  <div class="footer">
    <div class="container">
      {{ > footer }}
    </div>
  </div>
</template>

<template name="header">
  <div class="left">
    <a href="{{#if isAuthenticated }}{{ pathFor route='Wall' }}{{ else }}{{ pathFor route='Index' }}{{/if}}" class="logo">pecord</a>
    {{# if isAuthenticated }}
      <div class="header-features">
        <a href="#">
          <i class="fa fa-users"></i>
        </a>
        <a href="{{ pathFor route='Questions' }}" class="{{# if has 'Question' }}active{{/if}}">
          <i class="fa fa-question"></i>
          {{# if has 'Question' }}
            <span>{{ count 'Question' }}</span>
          {{/if}}
        </a>
        <a href="{{ pathFor route='Answers' }}" class="{{# if has 'Answered' }}active{{/if}}">
          <i class="fa fa-reply"></i>
          {{# if has 'Answered' }}
            <span>{{ count 'Answered' }}</span>
          {{/if}}
        </a>
      </div>
    {{/if}}
  </div>
  <div class="right">
    {{# if isAuthenticated }}
      <div class="header-menu">
        <a href="{{ pathFor route='Wall' }}" class="{{ isActiveRoute 'Wall' }}">{{ _ 'home' }}</a>
        <a href="{{ pathFor route='Profile' username=currentUser.username }}" class="{{ isActiveRoute 'Profile' }}">{{ _ 'profile' }}</a>
        <a href="{{ pathFor route='Search' }}" class="{{ isActiveRoute 'Search' }}">{{ _ 'search' }}</a>
        <a href="{{ pathFor route='Settings' }}" class="{{ isActiveRoute 'Settings' }}">{{ _ 'settings' }}</a>
        <a href="#" class="logout">
          <i class="fa fa-sign-out"></i>
        </a>
      </div>
    {{ else }}
      <div class="tip">{{ _ 'header-tip-text' }}</div>
      <a href="{{ pathFor route='atSignIn' }}" class="login-button">{{ _ 'login' }}</a>
    {{/if}}
  </div>
</template>

<template name="footer"></template>

<template name="index">
  <div class="slogan">
    <div class="text">{{ _ 'slogan-text' }}</div>
    <a href="{{ pathFor route='atSignUp' }}" class="signup-button">{{ _ 'slogan-button-text' }}</a>
  </div>
</template>

<template name="loading"></template>

<template name="notFound">
  <div id="NotFound">
    <p>{{ _ 'page-notfound-text' }}</p>
    <a href="{{ pathFor route='Index' }}">{{ _ 'page-notfound-link-text' }}</a>
  </div>
</template>
