<template name="profile">
  <div class="head">
    <div class="avatar">
      {{> avatar user=user }}
    </div>
    <div class="info">
      <div class="statistics"></div>
      <div class="name">
        <a href="{{ pathFor route='Profile' username=user.username }}">
          <span dir="ltr">{{ user.profile.fullname }}</span>
        </a>
        <span class="username">
          <span dir="ltr">@{{ user.username }}</span>
        </span>
      </div>
      <div class="bio">
        {{# if user.bio }}
          <div class="description" dir="ltr">
            <span dir="ltr">{{ user.bio }}</span>
          </div>
        {{/if}}
        {{# if user.website }}
          <div class="website" dir="ltr">{{ user.website }}</div>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="friends"></template>
<template name="settings"></template>
