<template name="profile">
  <div class="head">
    {{> avatar user=user }}
    <div class="info">
      <div class="statistics">
        <a href="{{ pathFor route='Profile' username=user.username }}">
          <span class="digit">{{ user.answers.count }}</span>
          <span class="label">{{ _ 'answers' }}</span>
        </a>
        <div class="seperator"></div>
        <a href="{{ pathFor route='Profile' username=user.username }}">
          <span class="digit">0</span>
          <span class="label">{{ _ 'likes' }}</span>
        </a>
      </div>
      <div class="name">
        <a href="{{ pathFor route='Profile' username=user.username }}">
          <span dir="ltr">{{ user.profile.fullname }}</span>
          <div class="{{# if user.status.online }}online{{ else }}offline{{/if}}"></div>
        </a>
        <span class="username">
          <span dir="ltr">@{{ user.username }}</span>
        </span>
      </div>
      <div class="bio">
        {{# if user.profile.bio }}
          <div class="description" dir="ltr">
            <span dir="ltr">
              {{ user.profile.bio }}
            </span>
          </div>
        {{/if}}
        {{# if user.profile.website }}
          <div class="website">
            <a href="{{ user.profile.website }}" target="_blank">
              {{ user.profile.website }}
            </a>
          </div>
        {{/if}}
      </div>
      <div class="buttons">
        {{# if isCurrentUser user }}
          <a href="{{ pathFor route='Settings' }}">
            <i class="fa fa-pencil"></i>
          </a>
        {{ else }}
          <button class="btn green">{{ _ 'follow' }}</button>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="profile-askme">
    {{# if isAuthenticated }}
      {{# unless session 'onCreatedQuestion' }}
        <div class="label">
          {{# if user.profile.askme }}
            {{ user.profile.askme }}
          {{ else }}
            {{ _ 'ask-me' }}
          {{/if}}
        </div>
      {{/unless}}
      {{ > askMeForm type="ask" user=user }}
    {{/if}}
    <div class="answers">
      <div class="label">
        {{ _ 'answers' }}
      </div>
    </div>
    {{> list doc=user.answers }}
  </div>
</template>

<template name="settings">
  <div class="head-label">Settings</div>
  {{# if session 'settingsOnSaved' }}
    <div class="head-success">
      <i class="fa fa-check-circle"></i> {{ session 'settingsOnSaved' }}
    </div>
  {{/if}}
  {{# autoForm schema=form id="settingsForm" }}
    {{> afQuickField name="username" value=currentUser.username }}
    {{> afQuickField name="email" value=currentUser.emails.[0].address }}
    {{> afQuickField name="fullname" value=currentUser.profile.fullname }}
    {{> afQuickField name="website" value=currentUser.profile.website }}
    {{> afQuickField name="bio" value=currentUser.profile.bio }}
    {{> afQuickField name="gender" value=currentUser.profile.gender }}
    {{> afQuickField name="language" value=currentUser.profile.language }}
    <div class="form-group">
      <label class="control-label">{{ _ 'password' }}</label>
      <a href="{{ pathFor 'atChangePwd' }}">{{ _ 'change-password' }}</a>
    </div>
    <div class="buttons">
      <button class="btn blue">Save</button>
    </div>
  {{/autoForm}}
</template>

<template name="friends"></template>
