.signup-button {
  display:inline-block;
  clear: both;
  min-width: 230px;
  margin: 0 0 1px 0;
  padding: 11px;
  font-size: 24px;
  line-height: 28px;
  color: #f9fbf5;
  text-align: center;
  text-shadow: #537516 0 1px;
  text-decoration: none;
  background: url('images/button-gradient.png') center top repeat-x;
  border: solid 1px #00658d;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  box-shadow: 0 1px #1381ad;
  white-space: nowrap;

  &:hover {
    background-position: 0 -50px;
    color: #FFF;
  }
}

.login-button {
  display: block;
  min-width: 52px;
  float: right;
  padding: 6px 10px 4px 10px;
  font-size: 12px;
  line-height: 14px;
  background: #254868;
  border: solid 1px #19314a;
  color: #FFF;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  &:hover {
    background-color: #224d6d;
  }
}


.btn {
  text-align: center;
  padding: 5px 17px 7px;
  margin: 0;
  height: 26px;
  line-height: 14px;
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0 -1px 0 #2a92b7;
  text-decoration: none;
  border: solid 1px #2a92b7;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
  outline:none;

  &.blue {
    color: #FFF;
    background-color: #50abe7;

    &:hover {
      background-color: #57c1fd;
    }
  }

  &.green {
    color:#FFF;
    background-color:#83BC51;
    text-shadow: 0 1px #54801b;
    border-color:#728A5D;

    &:hover {
      background-color:#98D364;
    }
  }

  &.gray {
    color:#4d4d4d;
    background-color:#E2E1E1;
    text-shadow: 0 1px #f2f2f2;
    border-color:#949494;

    &:hover {
      background-color:#F3F3F3;
    }
  }

  &.red {
    color:#FFF;
    background-color:#E03640;
    border-color: #aa2933;
    text-shadow: 0 -1px 0 #aa2933;

    &:hover {
      background-color:#E05059;
    }
  }
}
